<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>90097807653-7avnhuhirbq1720le2ha7r2b4m2s7nbq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90097807653-7avnhuhirbq1720le2ha7r2b4m2s7nbq</string>
	<key>API_KEY</key>
	<string>AIzaSyALwotg7fK4ms4TPgDuzZYSpjkLT07iDR4</string>
	<key>GCM_SENDER_ID</key>
	<string>90097807653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>CM.Scavanger-Hunt</string>
	<key>PROJECT_ID</key>
	<string>scavenge-162d6</string>
	<key>STORAGE_BUCKET</key>
	<string>scavenge-162d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90097807653:ios:8353b690327fe7946f6acc</string>
	<key>DATABASE_URL</key>
	<string>https://scavenge-162d6.firebaseio.com</string>
</dict>
</plist>